<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>

    <!-- 启动注解驱动的spring mvc 功能 -->
    <mvc:annotation-driven/>

    <mvc:interceptors>
        <bean class="com.three.dwms.common.HttpInterceptor"/>
    </mvc:interceptors>

    <!-- 启动包扫描功能 -->
    <context:component-scan base-package="com.three.dwms.controller"/>
    <context:component-scan base-package="com.three.dwms.service"/>
    <context:component-scan base-package="com.three.dwms.common"/>

    <bean class="com.three.dwms.common.ContextHelper" lazy-init="false"/>

    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />-->

    <bean id="exceptionResolver" class="com.three.dwms.common.ExceptionResolver"/>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>

    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>

    <mvc:resources location="/pages/" mapping="/pages/**"/>
    <mvc:resources location="/static/" mapping="/static/**"/>

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 指定所上传文件的总大小不能超过10485760000B。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

</beans>